body {
  background: #cbe3de;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/* logo styling */
/* #logo img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 50%
} */

/* NavBar styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #059a93;
}

.topnav-right {
  float: right;
}

li {
  display: inline;
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #059a93;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #5d998d;
}

.active {
  background-color: #5d998d;
}

#dreamVacay {
  color: #059a93;
}

#center {
  text-align: center;
  margin: auto;
  width: 30%;
  border: 3px solid rgb(31, 189, 201);
  padding: 0px;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #059a93;
  color: white;
  /* Footer height */
}

#options {
  color: #059a93;
}